[submodule "nvim"]
	path = nvim
	url = git@github.com:osiic/nvim.git
[submodule "vim"]
	path = vim
	url = git@github.com:osiic/vim.git
[submodule "shell"]
	path = shell
	url = git@github.com:osiic/shell.git
[submodule "ghostty"]
	path = ghostty
	url = git@github.com:osiic/ghostty.git
[submodule "cli"]
	path = cli
	url = git@github.com:osiic/cli.git
[submodule "desktop"]
	path = desktop
	url = git@github.com:osiic/desktop.git
